header{
    padding: 20px 0;

    .container{
        align-items: center;
    .navigate{
        display: flex;
        justify-content: space-between;
        align-items: center;

            svg{
                width: 24px;
                height: 24px;
                cursor:pointer;

                &:first-child{
                    margin: 0px 20px;
                }
            }

            .nav-links{
                padding: 10px 0;
                border-right: 1px solid $stroke;
                a{
                    text-transform: uppercase;
                    margin-right: 20px;
                }
            }
        }
    }
}