<div class="wrapper">
    <section class="cards">
    <h1>Our Products</h1>
    <nav>
        <a href="#">All</a>
        <a href="#">Boys Fashion</a>
        <a href="#">Girls Fashion</a>
        <a href="#">Accessories</a>
    </nav>
    <div class="sort">
        <div class="sort-container">
            <input type="button" value="По убыванию" class="btn orange" onclick="SortCards('DOWN')">
            <input type="button" value="По возрастанию" class="btn orange" onclick="SortCards('UP')">
            <input type="button" value="По умолчанию" class="btn orange" onclick="SortCards()">
        </div>
    </div>
     <div class="container">        
    </div>
    <button class="btn">View all Products</button>
 </section>
</div>
