form.order {
    margin-bottom: 80px;
    label {
        input {
            margin-bottom: 30px;
        }
    }
    h3 {
        margin-left: -8px;
    }
    .location {
        label {
            width: 30%;
            
        }
    }
}

.pay {
    &-container {
        width: 40%;
        flex-direction: column;

        label {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    .container {
        align-items: flex-start;
    }

    .total .card {
        width: auto;
        min-height: 190px;
    }
}