$main:#FF3D00;
$second:#0085FF;
$black:#202020;
$white:#ffffff;
$stroke:#E3E3E3;
$placeholder:#808080;
$bg: #F7F7F7;
$logo: #ef5ad8;
$gray:#6A6A6A;

.blue{
    background-color: $second;
}

.pink{
    background-color: $logo;
}

.orange{
    background-color: $main;
}

.black{
    background-color: $black;
}