body{
    margin: 0;
}
p {
    margin:0;
}
a{
    text-decoration: none; 
}
h1, h2, h3, h4, h5 ,h6{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
.btn, input[type="button"]{
    border: none;
    background-color: transparent;
    padding: 0;
}
input[type="text"], input[type="password"]{
    border: none;
    outline: none;
    background-color: transparent;
}